<div class="container">
  <h4>Down Detail for {{ downDetailObj.date }}</h4>
  <div class="row" *ngFor="let down of downDetailObj.downDetail; index as i">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">{{ hours[i] }}</label>
        <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01">
          <option selected>Choose...</option>
          <option>Tourney</option>
          <option>Live</option>
          <option>Break</option>
          <option>Chip Run</option>
          <option>Final Table</option>
          <option>Satellite</option>
        </select>
      </div>
      <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enter Table #">
      <div class="input-group-append">
        <select class="custom-select" id="inputGroupSelect02">
          <option selected>Choose...</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
    </div>
  </div>
</div>
