<div style="text-align:center">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>Welcome to {{ title }}!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h4>Summary for {{ summaryName }}</h4>
</div>
<div class="container no-gutters">
  <div class="row no-gutters">
    <div class="col-8">
      <ul class="list-group no-gutters">
        <li class="list-group-item">Tournament Downs</li>
        <li class="list-group-item">Tournament Tips</li>
        <li class="list-group-item">Cash Tips</li>
        <li class="list-group-item">Hours</li>
        <li class="list-group-item">Wages Total</li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="list-group no-gutters">
        <li class="list-group-item">{{tournamentDowns}}</li>
        <li class="list-group-item">Dapibus</li>
        <li class="list-group-item">Morbi</li>
        <li class="list-group-item">Porta ac</li>
        <li class="list-group-item">Vestibulum</li>
      </ul>
    </div>
  </div>
</div>
